{% extends 'base.html' %}
{% block content %}

<title>My Garden: {{ user.fname }}</title>

<h1>My Garden</h1>

<p>{{ user.fname }}, check it out!</p>
<br>
<a href="/addgarden">Add a new garden</a>

{% for garden in usergardens %}
<h2>
    {{ garden.garden_name }}: {{ garden.garden_desc }} 
    <a href="/addplant">Add another plant</a>
</h2>

<table>
  <tr>
    <th>Plant Name</th>
    <th>Plant Description</th>
    <th>Date Planted</th>
    <th>Harvest Date(no. days)</th>
    <th>Note</th>
    <th>Watering</th>
    <th>Sun Exposure</th>
  </tr>
  {% for gardenplant in garden.gardenplants %}
    <tr>
        <td>{{ gardenplant.plant.pname }} </td>
        <td>{{ gardenplant.plant.pdescription }}</td>
        <td>{{ gardenplant.planted_date }}</td>
        <td>{{ gardenplant.harvest_date }}</td>
        <td>{{ gardenplant.plant.plant_note }}</td>
        <td>{{ gardenplant.plant.water.water_name }}</td>
        <td>{{ gardenplant.plant.sun.sun_name }}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}

{% endblock %}