{% extends 'base.html' %}
{% block content %}


<title>My Garden: {{ user.fname }}</title>
<br>
<h1 id="mygardenheader"><b>My Garden</b></h1>


<br>
 <!-- ROW -->
      <div class="row">
        <!-- COL1 -->
        <div class="col-md-1">
        </div>

        <!-- COL2 -->
        <div class="col-md-10">
          
<center><div id="addgarden">
    
<a href="/addgarden" id="addgarden-btn1"><button type="button" class="btn btn-primary btn-sm" id="addgarden-btn1">Add a new garden</button></a>

    <a href="/addplant" id="addgarden-btn2"><button type="button" class="btn btn-primary btn-sm" id="addgarden-btn2">Add another plant</button></a>
</div></center><p>

<div id="table">
  <br>
{% for garden in usergardens %}
<div id="garden-name-desc">
<center><h3 id="garden-name-desc"><b>
    {{ garden.garden_name }}:</b> <h4>{{ garden.garden_desc }} 
</h4>
</div>
<table class="table table-hover">
  <thead class="thead-light">
  <tr>
    <th>Plant Name</th>

    <th>Date Planted</th>
    <th>Harvest Date</th>
    <th>Spacing (in)</th>
    <th>Watering</th>
    <th>Sun Exposure</th>
    <th>Add To Calendar</th>
  </tr>
  </thead>
  <tbody>
  {% for gardenplant in garden.gardenplants %}
    <tr>
        <td><b><a href="/plant?{{ gardenplant.plant.plant_id }}">{{ gardenplant.plant.pname }} </a></b></td>
        <td>{{ gardenplant.planted_date.strftime('%m-%d-%Y') }}</td>
        <td>{{ gardenplant.harvest_date.strftime('%m-%d-%Y') }}</td>
        <td>{{ gardenplant.plant.pspacing }}</td>
        <td>{{ gardenplant.plant.water.water_name }}</td>
        <td>{{ gardenplant.plant.sun.sun_name }}</td>
        <td> 
            <form action="/saveharvestevent" method="POST">
             <button type="submit" name="gardenplants_id" class="btn btn-outline-success" value="{{ gardenplant.gardenplants_id }}">Add to Calendar</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}
</div>
        </div>
        <!-- COL3 -->
        <div class="col-md-1">
        </div>
      </div>
      <!-- END ROW -->
{% endblock %}