{% extends 'base.html' %}
{% block content %} 



      <!-- START JUMBOTRON -->
      <div class="jumbotron card card-block">
        <h2 id="jumbotron-text">
          Your Gardens, Your Plants
        </h2>
        <p id="jumbotron-text">
          Automatically get customized calendar events based on your garden's planting and harvesting schedule.
        </p>
        <br>
        <br>
        <p>
          <a class="btn btn-primary btn.large" id="createmanagebtn" href="/mygarden">Create or Manage Your Garden</a>
        </p>
        <br>
        <div class="dropdown">
             
            <button class="btn btn-primary dropdown-toggle" type="button" id="plantdropdownMenuButton" data-toggle="dropdown">
              What To Plant?
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for item in plants %}
               <a class="dropdown-item disabled" value="{{ item.plant_id }}" href="/plant">{{ item.pname }}</a>
          {% endfor %}
               <a class="dropdown-item" href="#">Another action</a>
               <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
      </div>
      <!-- END JUMBOTRON BLOCK -->
      <!-- ROW FOR PLANT DROP DOWN -->
      <div class="row">
        <!-- COL1 -->
        <div class="col-md-4">
        </div>

        <!-- COL2 -->
        <div class="col-md-4">
          
        </div>
        <!-- COL3 -->
        <div class="col-md-4">
        </div>
      </div>
      <!-- END PLANT DROP DOWN ROW -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    </div>
  </div>

  {% endblock %}