{% extends 'base.html' %}
{% block content %}


  <!-- Main text on page -->
  <div id="homepage-block">
    <h1 id="homepage-title">Manage Your Garden</h1>
  </div>


  <!-- Plant search dropdown -->
  <form action="/plant/{{ plant.pname }}" method="POST">

    <div class="form-group">
      <label>Plant
        <select name="plants">
<!-- default drop down text needs to be added -->

          {% for plant in plants %}
          <option value="{{ plant.plant_id }}">{{ plant.pname }}</option>
<!--           <option value="strawberry">Strawberry</option>
          <option value="tomato">Tomato</option>
          <option value="onion">Onion</option> -->
          {% endfor %}

        </select>
      </label>
    </div>
    <!-- Submit button -->
    <div>
      <input type="submit" value="Get Info">
    </div>
  </form>


    <!-- Login link -->
  <div>
    <a href="/login">Login</a>
  </div>
  


{% endblock %}