/*EVERY PAGE*/
body, html {
    background-image: url("/static/images/rootplants.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    margin: auto;
}

img {

}

div.jumbotronplant {
    min-height: 400px;
    max-height: 600px;
    background-color: #ffffff;
    opacity: 0.8;
}

div.jumbotron {
    min-height: 400px;
    max-height: 600px;
    background-color: #ffffff;
    opacity: 0.7;
}

#jumbotron-text-plant-details {
    text-align: left;
    opacity: 1.0;
}

div.jumbotron h2, p {
    text-align: center;
    vertical-align: 50%;
    line-height: px;
    font-weight: bold;
    opacity: 1.0;
}

#jumbotron-text-plant-detail {
    text-transform: capitalize;
}


div.dropdown {
    margin: auto;
    background-color: white;
    color: black;
    text-align: center;
}

/*EVERY PAGE, HEADER*/
.page-header{
    background-color: orange;
    color: white;
    text-align: center;
}

#navbar {
    background-color: green;
    color: white;
}

.sr-only {
    color: white;
}

/*GARDEN PAGE*/

#mygardenheader {
    text-align: center;
}


.table{
    color: white;
}

#addgarden-btn1 {
    color: white;
}

#addgarden-btn2 {
    color: white;
}
#garden-name-desc {
    color: white;
}
    
#mygardenheader {
    color: white;
    text-shadow: 2px 2px black;
}
#table {
    background-color: rgba(0, 0, 0, 0.5);
}
